@import "../../node_modules/uikit/src/less/uikit.theme.less";
@import "fonts.less";

@breakpoint-small:                             768px;  // Phone landscape
@breakpoint-medium:                            960px;  // Tablet Landscape
@breakpoint-large:                             1200px; // Desktop
@breakpoint-xlarge:                            1600px; // Large Screens

@breakpoint-xsmall-max:                        (@breakpoint-small - 1);
@breakpoint-small-max:                         (@breakpoint-medium - 1);
@breakpoint-medium-max:                        (@breakpoint-large - 1);
@breakpoint-large-max:                         (@breakpoint-xlarge - 1);

@container-max-width: 1500px;
@container-large-max-width: 1800px;
@container-padding-horizontal: 10px;
@container-padding-horizontal-s: 10px;
@container-padding-horizontal-m: 10px;

@base-body-font-family: 'Calibri', sans-serif;
@base-heading-font-family: 'Calibri', sans-serif;
@base-body-font-size: 18px;
@base-body-line-height: 1.444444444;
@base-body-color: #000000;
@base-heading-color: #000000;
@base-heading-font-weight: 400;
@base-heading-margin-top: 0;
@base-em-color: inherit;
@lightbox-background: rgba(0,0,0,.8);
@base-margin-vertical: 30px;

@form-background: #f7f7f7;
@modal-container-width: 1405px;

.hook-form-label() {
    color: gray;
    margin-bottom: 4px;
    display: inline-block;
}

.hook-form() {
    border-radius: 2px;
}

.hook-modal-dialog() {
    border-radius: 4px;
}

body {
    background-color: #ffffff;
}

.wrapper {
    overflow: hidden;
}

.header {
    background: url('../img/header.jpg') repeat-x 50% 0;
    border-bottom: 1px solid #d1d1d1;
    @media (max-width: @breakpoint-medium-max) {
        background-size: auto 390px;
    }
    @media (max-width: @breakpoint-small-max) {
        background-size: auto 295px;
        background-position: calc(50% + 150px) 0;
    }
    @media (max-width: @breakpoint-xsmall-max) {
        background-size: auto 192px;
        background-position: calc(50% + 99px) -2px;
        // border: none;
    }
}

.header__container {
    margin-bottom: 352px;
    display: flex;
    align-items: flex-end;
    padding-top: 61px;
    padding-bottom: 33px;
    justify-content: space-between;
    position: relative;
    @media (max-width: @breakpoint-medium-max) {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 180px;
    }
    @media (max-width: @breakpoint-small-max) {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 200px;
    }
    @media (max-width: @breakpoint-xsmall-max) {
        padding-top: 7px;
        padding-bottom: 5px;
        margin-bottom: 165px;
    }
}

.header-logo {
    text-align: center;
    margin-right: 103px;
    min-width: 244px;
    @media (max-width: 1800px) {
        margin-right: 50px;
    }
    @media (max-width: @breakpoint-medium-max) {
        position: absolute;
        top: 115px;
        left: 0;
        min-width: initial;
    }
    @media (max-width: @breakpoint-small-max) {
        top: 85px;
        width: 200px;
    }
    @media (max-width: @breakpoint-xsmall-max) {
        top: 61px;
        width: 123px;
    }
}

.header-logo__image {
    display: inline-block;
    margin-bottom: 8px;
    transition: transform ease .3s;
    width: 231px;
    max-width: 100%;
    &:hover {
        transform: scale(1.2);
    }
    @media (max-width: @breakpoint-small-max) {
        margin-bottom: 4px;
    }
    @media (max-width: @breakpoint-xsmall-max) {
        margin-bottom: 0;
    }
}

.header-logo__slogan {
    font-size: 20px;
    color: #cbb695;
    line-height: 1;
    letter-spacing: 0.4px;
    @media (max-width: @breakpoint-small-max) {
        font-size: 16px;
    }
    @media (max-width: @breakpoint-xsmall-max) {
        font-size: 10px;
    }
}

.header__address {
    font-size: 20px;
    color: #ffffff;
    position: absolute;
    right: -40px;
    bottom: 12px;
    @media (max-width: 1900px) {
        right: 0;
    }
    @media (max-width: @breakpoint-medium-max) {
        right: initial;
        left: 0;
        top: 220px;
    }
    @media (max-width: @breakpoint-small-max) {
        font-size: 16px;
        top: 170px;
    }
    @media (max-width: @breakpoint-xsmall-max) {
        font-size: 10px;
        top: 110px;
    }
}

.header__right {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header-cart {
    display: flex;
    align-items: center;
    flex-grow: 99;
    margin-bottom: 10px;
    cursor: pointer;
    color: #ffffff;
    min-width: 250px;
    &:hover {
        color: #ffffff;
        text-decoration: none;
        .header-cart__icon {
            box-shadow: 0 1px 18px rgba(255, 255, 255, 0.8);
        }
    }
    @media (max-width: @breakpoint-medium-max) {
        position: absolute;
        right: 0;
        top: 170px;
        color: #5e5e5e;
        min-width: initial;
        &:hover {
            color: #000000;
        }
    }
    @media (max-width: @breakpoint-small-max) {
        top: 230px;
        font-size: 14px;
    }
    @media (max-width: @breakpoint-xsmall-max) {
        top: 160px;
    }
}

.header-cart__icon {
    width: 69px;
    height: 70px;
    border-radius: 12px;
    background: url('../img/cart-icon.png') no-repeat -1px 50%;
    transition: box-shadow ease .3s;
    @media (max-width: @breakpoint-medium-max) {
        order: 1;
    }
    @media (max-width: @breakpoint-small-max) {
        width: 35px;
        height: 35px;
        background-size: cover;
        border-radius: 6px;
        top: -5px;
        position: relative;
    }
}

.header-cart__info {
    margin-left: 8px;
    line-height: 1;
    @media (max-width: @breakpoint-medium-max) {
        margin-left: 0;
        margin-right: 8px;
    }
}

.header-cart__count {
    font-size: 20px;
    margin-bottom: 8px;
    @media (max-width: @breakpoint-small-max) {
        display: none;
    }
}

.header-cart__price {
    font-size: 25px;
    margin-bottom: 4px;
    @media (max-width: @breakpoint-small-max) {
        font-size: 14px;
        margin-bottom: 0;
    }
}

.mainmenu {
    padding: 0;
    margin: 0;
    flex-grow: 100;
    line-height: 1.58;
    @media (max-width: @breakpoint-medium-max) {
        display: flex;
        justify-content: space-around;
    }
    > li {
        list-style: none;
        display: inline-block;
        margin-right: 61px;
        @media (max-width: @breakpoint-medium-max) {
            margin-right: 30px;
        }
        @media (max-width: @breakpoint-xsmall-max) {
            margin-right: 10px;
        }
        &:last-child {
            margin-right: 0;
        }
        > a {
            text-decoration: none;
            font-size: 28px;
            color: rgb(216, 216, 216);
            display: inline-block;
            text-transform: lowercase;
            transition: transform ease .3s;
            &:hover {
                transform: scale(1.2);
            }
            @media (max-width: @breakpoint-small-max) {
                font-size: 22px;
            }
            @media (max-width: @breakpoint-xsmall-max) {
                font-size: 9px;
            }
        }
    }
}

.catalog-toggle {
    position: absolute;
    left: 10px;
    top: 230px;
    cursor: pointer;
    color: #5e5e5e;
    font-size: 14px;
    display: flex;
    align-items: center;
    span {
        display: inline-block;
        width: 35px;
        height: 35px;
        position: relative;
        border-radius: 1px;
        border: 1px solid #ebebeb;
        background-color: #dedede;
        margin-right: 9px;
        vertical-align: middle;
        top: -5px;
        i {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 70%;
            height: 5px;
            background-color: #474747;
            border-radius: 1px;
            &:first-child {
                margin-top: -8px;
            }
            &:last-child {
                margin-top: 8px;
            }
        }
        @media (max-width: @breakpoint-xsmall-max) {
            width: 33px;
            height: 33px;
            margin-right: 5px;
        }
    }
    @media (min-width: @breakpoint-medium) {
        display: none;
    }
    @media (max-width: @breakpoint-xsmall-max) {
        top: 160px;
    }
}

.header-search {
    position: absolute;
    top: 195px;
    right: -45px;
    @media (max-width: 1900px) {
        right: 0;
    }
    @media (max-width: @breakpoint-medium-max) {
        top: 115px;
    }
    @media (max-width: @breakpoint-small-max) {
        display: none;
    }
}

.header-search__input {
    border-width: 1px;
    border-color: rgb(183, 183, 183);
    border-style: solid;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    color: #606060;
    font-size: 15px;
    position: relative;
    width: 279px;
    height: 37px;
    line-height: 35px;
    padding-left: 15px;
    padding-right: 55px;
    box-sizing: border-box;
}

.header-search__submit {
    position: absolute;
    right: 1px;
    top: 1px;
    width: 40px;
    text-align: center;
    line-height: 35px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    bottom: 1px;
    transition: background-color ease .3s;
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: #160c0b;
        transition: fill ease .3s;
    }
    &:hover {
        background-color: rgb(240, 240, 240);
        svg {
            fill: #000;
        }
    }
}

@media (max-width: @breakpoint-small-max) {
    .catalog-menu {
        min-width: 208px;
        border-radius: 1px;
        background-color: #f6f6f6;
        background-image: linear-gradient(90deg,rgba(0,0,0,.07) 0,hsla(0,0%,100%,.07));
        padding: 0;
        margin: 0;
        position: absolute;
        top: 270px;
        // display: none;
        // &_open {
        //     display: block;
        // }
        li {
            list-style: none;
        }
        a {
            color: #3e3e3e;
            font-size: 14px;
            line-height: 1;
            padding: 10px 8px;
            display: block;
            &:hover {
                color: #00918f;
                text-decoration: none;
            }
        }
        &_dropdown {
            > li {
                > a {
                    color: #b1b1b1;
                    &.uk-open {
                        color: #00918f;
                    }
                }
            }
        }
    }

    .catalog-menu-item__image {
        display: none;
    }

    .catalog-menu__dropdown {
        min-width: initial;
        height: 100%;
        width: 160px;
        left: 142px !important;
        top: 0 !important;
        margin: 0;
        padding: 0;
        border-radius: 1px;
        background-color: #f6f6f6;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%);
        box-shadow: none;
        > ul {
            padding: 0;
            margin: 0;
        }
    }
}

@media (min-width: @breakpoint-medium) {
    .catalog-menu {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-around;
        @media (max-width: @breakpoint-large-max) {
            flex-wrap: wrap;
        }
        > li {
            list-style: none;
            @media (max-width: @breakpoint-large-max) {
                width: 14%;
                display: flex;
                justify-content: center;
            }
        }
    }

    .catalog-menu-item {
        display: inline-block;
        color: #505050;
        text-align: center;
        text-decoration: none;
        padding: 31px 10px;
        &:hover {
            color: #505050;
            text-decoration: none;
            .catalog-menu-item__wrap {
                transform: scale(1.15);
            }
        }
    }

    .catalog-menu-item__wrap {
        display: block;
        transition: transform ease .3s;
    }

    .catalog-menu-item__image {
        height: 65px;
        width: 100%;
        margin-bottom: 12px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .catalog-menu-item__name {
        display: block;
        font-size: 19px;
    }

    .catalog-menu__dropdown {
        padding: 0;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        > ul {
            padding: 0;
            margin: 0;
            > li {
                list-style: none;
                display: block;
                > a {
                    display: block;
                    font-size: 20px;
                    color: #000000;
                    line-height: 1;
                    text-decoration: none;
                    padding: 15px;
                    transition: background-color ease .3s;
                    &:hover {
                        background-color: #dddddd;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.section-popular {
    padding: 20px 0 75px;
}

.section-popular__title {
    color: #5a5a5a;
    text-align: center;
    font-size: 29px;
    margin-bottom: 41px;
    @media (max-width: @breakpoint-xsmall-max) {
        // display: none;
        margin-bottom: 20px;
        font-size: 24px;
    }
}

.products {
    margin-bottom: 25px;
    font-size: 18px;
}

.product-card {
    border: 1px solid transparent;
    border-radius: 4/18em;
    background-color: rgb(255, 255, 255);
    padding: 10/18em 10/18em 22/18em;
    margin-bottom: 10/18em !important;
    transition: ease .3s;
    transition-property: box-shadow, border-color;
    &:hover {
        box-shadow: 0 1px 10/18em 0 rgba(0, 0, 0, 0.16);
        border-color: rgb(235, 235, 235);
    }
    &_discount {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 47/18em;
            height: 44/18em;
            background: url('../img/icon-discount.png') no-repeat 50% 50%;
            background-size: contain;
            right: 15/18em;
            top: 15/18em;
            z-index: 20;
            @media (max-width: @breakpoint-xsmall-max) {
                transform: scale(.8);
            }
        }
        .product-card__title {
            margin-right: 50/27.41em;
            @media (max-width: @breakpoint-xsmall-max) {
              margin-right: 50/22em;
            }
        }
        .product-card__image {
            border-bottom-color: #f37737;
        }
        .product-card__info {
            border-top-color: #f37737;
        }
    }
    @media (max-width: @breakpoint-xsmall-max) {
        padding-left: 18/18em;
        padding-right: 18/18em;
        margin-bottom: 0 !important;
    }
}

.product-card__title {
    line-height: 1;
    font-size: 27.41/18em;
    margin-bottom: 5/18em;
    a {
        border-bottom: 1px solid transparent;
        transition: border-bottom-color ease .3s;
        color: #010101;
        &:hover {
            text-decoration: none;
            color: #010101;
            border-bottom-color: #010101;
        }
    }
    span {
        font-size: 70%;
        color: #5d5d5d;
    }
    @media (max-width: @breakpoint-xsmall-max) {
        font-size: 22/18em;
    }
}

.product-card__image {
    //height: 283/18em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2/18em solid transparent;
    //padding-bottom: 25/18em;
    overflow: hidden;
    padding-bottom: 92%;
    position: relative;
    @media (max-width: @breakpoint-xsmall-max) {
        //height: 216/18em;
    }
}

.product-card__info {
    border-top: 1px solid #bdbdbd;
    display: flex;
    align-items: center;
    padding-top: 5/18em;
}

.product-card__params {
    padding: 0;
    margin: 0 0 0 11/18em;
    line-height: 1.2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 20.83/18em;
    dt {
        width: 46%;
        color: rgb(93, 93, 93);
        font-weight: 300;
    }
    dd {
        width: 54%;
        color: #000000;
        font-weight: 300;
    }
    @media (min-width: @breakpoint-medium) and (max-width: @breakpoint-medium-max) {
        font-size: 14/18em;
    }
    @media (max-width: @breakpoint-xsmall-max) {
        font-size: 16.64/18em;
        margin-left: 8/18em;
        line-height: 20/18em;
    }
}

.product-card__buy {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.product-card .add_to_cart_button,
.product-card .product_type_variable,
.product-card__add {
    position: relative;
    text-decoration: none;
    overflow: visible;
    padding: 0;
    font-weight: normal;
    left: auto;
    border: 0;
    display: inline-block;
    box-shadow: none;
    text-shadow: none;

    border-radius: 4/18em;
    background: rgb(190, 140, 110);
    min-width: 102/18em;
    text-align: center;
    height: 29/18em;
    line-height: 29/18em;
    margin: 14/18em 0 0;
    font-size: 18/18em;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color ease .3s;
    &.added {
        background-color: green;
    }
    &:hover {
        color: rgb(255, 255, 255);
        background: rgb(179, 124, 91);
    }
    @media (max-width: @breakpoint-xsmall-max) {
        font-size: 14/18em;
        min-width: 82/14em;
        height: 23/14em;
        line-height: 23/14em;
        margin-top: 9/14em;
    }
}
//.product-card .add_to_cart_button,
//.product-card .product_type_variable,
//.product-card__add {
//    border-radius: 4/18em;
//    background-color: rgb(190, 140, 110);
//    min-width: 102/18em;
//    text-align: center;
//    height: 29/18em;
//    line-height: 29/18em;
//    margin-top: 14/18em;
//    border: none;
//    font-size: 18/18em;
//    color: rgb(255, 255, 255);
//    cursor: pointer;
//    transition: background-color ease .3s;
//    &.added {
//        background-color: green;
//    }
//    &:hover {
//        background-color: rgb(179, 124, 91);
//    }
//    @media (max-width: @breakpoint-xsmall-max) {
//        font-size: 14/18em;
//        min-width: 82/14em;
//        height: 23/14em;
//        line-height: 23/14em;
//        margin-top: 9/14em;
//    }
//}

.added_to_cart.wc-forward {
    display: none;
}

.price-card {
    display: flex;
    position: relative;
    align-items: baseline;
    line-height: 1;
}

.price-card__price {
    font-size: 34/18em;
    color: #000000;
    white-space: nowrap;
    @media (max-width: @breakpoint-xsmall-max) {
        font-size: 26.62/18em;
    }
    .woocommerce-Price-currencySymbol {
        font-size: 85%;
        color: #5d5d5d;
    }
}

.price-card__currency {
    font-size: 22/18em;
    color: #5d5d5d;
    margin-left: 8/18em;
    @media (max-width: @breakpoint-xsmall-max) {
        font-size: 17.84/18em;
    }
}

.price-card__old {
    font-size: 16.89/18em;
    color: #a0a0a0;
    position: absolute;
    left: 50%;
    top: 30/18em;
    transform: translateX(-50%);
    white-space: nowrap;
    @media (max-width: @breakpoint-xsmall-max) {
        font-size: 11/18em;
        top: 22/11em;
    }
    .woocommerce-Price-currencySymbol {
        font-size: 85%;
    }
}

.section-more {
    text-align: right;
}

.section-more__link {
    font-size: 25.33px;
    color: #585858;
    text-decoration: none; // old underline
    margin-right: -30px;
    @media (max-width: @breakpoint-large-max) {
        margin-right: 0;
    }
    span {

    }
    img {
        margin-left: 20px;
        vertical-align: bottom;
    }
}

.section-individual {
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    padding: 33px 0 28px;
    margin-bottom: 31px;
}

.section-individual__title {
    font-size: 28.81px;
    color: #282624;
    text-align: center;
    line-height: 1;
    margin-bottom: 74px;
}

.section-individual__image {
    text-align: center;
}

.section-individual__text {
    font-size: 27.8px;
    color: #000000;
    line-height: 1.25;
}

.section-content {
    padding-top: 83px;
    padding-bottom: 106px;
}

.section-content__title {
    font-size: 25px;
    color: #cf5c36;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
    &::before {
        content: '';
        position: absolute;
        height: 2px;
        left: 0;
        top: 50%;
        margin-top: -1px;
        background-color: #7e2f00;
        width: 100%;
    }
    span {
        position: relative;
        z-index: 20;
        display: inline-block;
        background: #ffffff;
        padding: 0 120px;
    }
}

.section-content__text {
    color: #61232c;
    text-align: center;
    font-size: 24.26px;
    line-height: 1.2;
    margin-bottom: 33px;
}

.footer {
    line-height: 1;
}

.footer-first {
    background-color: #465c5c;
    padding: 47px 0 70px;
    @media (max-width: @breakpoint-xsmall-max) {
        padding: 11px 10px 28px;
    }
}

.footer__head {
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 40px;
    font-weight: 300;
    @media (max-width: @breakpoint-xsmall-max) {
        font-size: 14px;
        margin-bottom: 22px;
    }
}

.footer__address {
    font-size: 22px;
    color: #d3d2cd;
    margin-bottom: 18px;
    font-weight: 300;
    display: block;
    @media (max-width: @breakpoint-xsmall-max) {
        font-size: 12px;
        line-height: 1.15;
        margin-bottom: 22px;
    }
}

a.footer__address {
    display: block;
    text-decoration: none;
    transition: all ease .3s;
    &:hover {
        color: #ffffff;
        text-decoration: none; // old underline
    }
}

.footer__menu {
    padding: 0;
    margin: 0;
    > li {
        list-style: none;
        margin-bottom: 11px;
        > a {
            color: #d3d2cd;
            text-decoration: none; // old underline
            font-size: 22px;
            font-weight: 300;
            transition: color ease .3s;
            &:hover {
                color: #ffffff;
                text-decoration: none; // old underline
            }
            @media (max-width: @breakpoint-xsmall-max) {
                font-size: 14.53px;
            }
        }
    }
}

.footer-second {
    background-color: #282624;
    padding: 20px 0;
    @media (max-width: @breakpoint-xsmall-max) {
        padding: 13px 0;
    }
}

.footer__copyright {
    text-align: center;
    color: #d8d8d8;
    font-size: 20px;
    text-align: center;
    @media (max-width: @breakpoint-xsmall-max) {
        font-size: 9.06px;
    }
}

.footer__cell {
    &_first {
        @media (max-width: @breakpoint-xsmall-max) {
            order: 3;
        }
    }
    &_second {
        @media (max-width: @breakpoint-xsmall-max) {
            order: 2;
        }
    }
    &_third {
        @media (min-width: @breakpoint-small) {
            text-align: right;
        }
        @media (max-width: @breakpoint-xsmall-max) {
            order: 1;
        }
    }
    &_fourth {
        @media (min-width: @breakpoint-small) {
            text-align: right;
        }
        @media (max-width: @breakpoint-xsmall-max) {
            order: 4;
        }
    }
}

.product__breadcrumb {
    margin: 40px 0 36px;
}

.woocommerce-breadcrumb {
    font-size: 19.44px;
    color: #9c9c9c;
    padding: 0;
    margin: 0;
    a {
        color: #000000;
        text-decoration: none;
        font-weight: bold;
    }
    @media (max-width: @breakpoint-xsmall-max) {
        display: none;
    }
}

.product {

}

.product__title {
    font-size: 36.07px;
    color: #000000;
    text-decoration: none; // old underline
    font-weight: normal;
    margin-bottom: 46px;
    @media (max-width: @breakpoint-xsmall-max) {
        font-size: 18.09px;
        margin-bottom: 10px;
    }
}

.product__attributes {
    max-width: 432px;
    @media (max-width: @breakpoint-xsmall-max) {
        max-width: 274px;
    }
}

.product-attribute {
  margin: 16px 0;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.attribute-image {

}

.attribute-image__values {

}

.attribute-image__value {
  display: flex;
  align-items: center;
  max-width: 320px;
  margin: 10px 0;
  cursor: pointer;
  img {
    margin-right: 20px;
  }
}

.attribute-color {
}

.attribute-color__values {

}

.attribute-color__value {
    display: inline-block;
    input {
        display: none;
        &:checked + span {
            box-shadow: 0 0 0 2px #48a1a9;
        }
    }
    span {
        display: inline-block;
        width: 45px;
        height: 45px;
        text-indent: -9999px;
        border: 1px solid #fff;
        cursor: pointer;
        margin-right: 6px;
        margin-bottom: 6px;
        background-color: #cec3c0;
        border-radius: 4px;
    }
}

.attribute-inline-radio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
    @media (max-width: @breakpoint-small-max) {
        display: block;
    }
    @media (max-width: @breakpoint-xsmall-max) {
        display: flex;
        margin: 10px 0;
    }
}

.attribute-inline-radio__label {
    font-size: 16.63px;
    color: #737373;
    @media (max-width: @breakpoint-xsmall-max) {
        display: block;
        font-size: 14px;
    }
}

.attribute-inline-radio__values {
    display: flex;
    align-items: center;
}

.attribute-inline-radio__value {
    color: #737373;
    font-size: 19.44px;
    margin-left: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    &:first-child {
        margin-left: 0;
    }
    input {
        display: none;
        &:checked + span {
            background-color: #ffffff;
            border-color: #48a1a9;
        }
    }
    span {
        display: inline-block;
        width: 12px;
        height: 12px;
        border: 6px solid #eeeeee;
        cursor: pointer;
        background-color: #eeeeee;
        border-radius: 50%;
        margin-left: 20px;
    }
    @media (max-width: @breakpoint-xsmall-max) {
        font-size: 13.4px;
        margin-left: 20px;
        span {
            width: 6px;
            height: 6px;
            border-width: 4px;
            margin-left: 15px;
        }
    }
}

.attribute-radio {

}

.attribute-radio__label {
  color: #737373;
  font-size: 19px;
  margin-bottom: 8px;
  display: block;
  padding-left: 16px;
  @media (max-width: @breakpoint-xsmall-max) {
    font-size: 14px;
    margin-bottom: 5px;
  }
}

.attribute-radio__values {

}

.attribute-radio__value {
  color: #737373;
  font-size: 19.44px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 10px 0;
  input {
    display: none;
    &:checked + span {
      background-color: #ffffff;
      border-color: #48a1a9;
    }
  }
  span {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 6px solid #eeeeee;
    cursor: pointer;
    background-color: #eeeeee;
    border-radius: 50%;
    margin-right: 20px;
  }
  @media (max-width: @breakpoint-xsmall-max) {
    font-size: 13.4px;
    margin-left: 20px;
    span {
      width: 6px;
      height: 6px;
      border-width: 4px;
      margin-right: 15px;
    }
  }
}

.attribute-select {
    margin: 13px 0;
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
    @media (max-width: @breakpoint-xsmall-max) {
        margin: 4px 0;
    }
}

.attribute-select__label {
    color: #737373;
    font-size: 19px;
    margin-bottom: 8px;
    display: block;
    padding-left: 16px;
    @media (max-width: @breakpoint-xsmall-max) {
        font-size: 14px;
        margin-bottom: 5px;
    }
}

.attribute-select__values {
    select {
        display: block;
        width: 100%;
        padding: 8px 15px;
        font-size: 16px;
        font-family: inherit;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        &:focus {
            color: #495057;
            background-color: #fff;
            border-color: #80bdff;
            outline: 0;
            box-shadow: 0 0 6px rgba(0,123,255,.25);
        }
        @media (max-width: @breakpoint-xsmall-max) {
            font-size: 12px;
            padding-top: 3px;
            padding-bottom: 3px;
        }
    }
}

.attribute-toggle {
    .attribute-toggle-values {
        display: none;
    }
    .attribute-toggle-switcher__value_no::after {
        background-color: #ffffff;
        border-color: #48a1a9;
    }
    .attribute-toggle-switcher__value_yes::after {
        background-color: #eeeeee;
        border-color: #eeeeee;
    }
    &_open {
        .attribute-toggle-values {
            display: block;
        }
        .attribute-toggle-switcher__value_no::after {
            background-color: #eeeeee;
            border-color: #eeeeee;
        }
        .attribute-toggle-switcher__value_yes::after {
            background-color: #ffffff;
            border-color: #48a1a9;
        }
    }
}

.attribute-toggle-switcher {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: @breakpoint-small-max) {
        display: block;
    }
    @media (max-width: @breakpoint-xsmall-max) {
        display: flex;
        margin: 10px 0;
    }
}

.attribute-toggle-switcher__label {
    font-size: 16.63px;
    color: #737373;
    @media (max-width: @breakpoint-xsmall-max) {
        display: block;
        font-size: 14px;
    }
}

.attribute-toggle-switcher__values {
    display: flex;
    align-items: center;
}

.attribute-toggle-switcher__value {
    color: #737373;
    font-size: 19.44px;
    margin-left: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    &::after {
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        border: 6px solid #eeeeee;
        cursor: pointer;
        background-color: #eeeeee;
        border-radius: 50%;
        margin-left: 20px;
    }
    @media (max-width: @breakpoint-xsmall-max) {
        font-size: 13.4px;
        margin-left: 20px;
        &::after {
            width: 6px;
            height: 6px;
            border-width: 4px;
            margin-left: 15px;
        }
    }
}

.attribute-toggle-values {
    margin: 15px 0;
}

//.attribute-toggle__title {
//  margin-bottom: 16px;
//}
//
//.attribute-toggle__values {
//
//}

.product-gallery {
    max-width: 764px;
}

.product-gallery__main {
    margin-bottom: 20px;
    display: block;
    width: 100%;
}

.product-gallery__thumbnail  {
    display: inline-block;
    border: 2px solid #fff;
    opacity: .32;
    transition: .3s ease;
    transition-property: opacity, border-color;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
    &.active {
        opacity: 1;
        border-color: #6f6f6f;
    }
}

.product-price {
    margin-top: 27px;
    margin-bottom: 50px;
    padding-top: 21px;
    padding-bottom: 27px;
    border-top: 2px solid #d0d0d0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    @media (max-width: @breakpoint-xsmall-max) {
        flex-wrap: wrap;
        margin-bottom: 0;
    }
}

.product-price__old {
    font-size: 24px;
    color: #7d7d7d;
    text-align: right;
    line-height: 1.25;
    > span {
        color: #9a9a9a;
        text-decoration: line-through;
        display: block;
    }
    @media (max-width: @breakpoint-xsmall-max) {
        order: 1;
    }
}

.product-price__current {
    margin-left: 27px;
}

.product-add {

}

.product-add__label {
    font-size: 16.67px;
    font-style: italic;
    line-height: 1;
    padding-right: 22px;
    text-align: right;
    margin-bottom: 5px;
}

.product-add__value {
    background-color: #eeeeee;
    border-radius: 6px;
    padding: 5px 5px 5px 15px;
    font-size: 38.95px;
    color: #ff009c;
    display: flex;
    align-items: center;
    line-height: 1;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.product-add__cart {
    width: 45px;
    height: 45px;
    background: url('../img/icon-cart.png') no-repeat 50% 50%;
    background-size: cover;
    border-radius: 8px;
    border: none;
    margin-left: 24px;
    cursor: pointer;
}

.shop_attributes {
    font-size: 19.44px;
    color: #777777;
    p {
        margin: 0;
    }
    th {
        padding: 5px 20px 5px 0;
    }
    td {
        padding: 5px 0;
    }
    @media (max-width: @breakpoint-xsmall-max) {
        font-size: 14px;
    }
}

.product-tabs {
    border-bottom: 2px solid #d0d0d0;
    margin-bottom: 28px;
    position: relative;
    > .uk-tab {
        padding-right: 165px;
        > li {
            margin-left: 20px;
        }
    }
    .uk-accordion {
        margin: 0;
    }
    .uk-accordion > :nth-child(n+2) {
        margin-top: 10px;
    }
    @media (max-width: @breakpoint-medium-max) {
        > .uk-tab {
            margin-left: -10px;
            > li {
                margin-left: 10px;
            }
        }
    }
    @media (max-width: @breakpoint-xsmall-max) {
        margin-left: -10px;
        margin-right: -10px;
        border-bottom: 0;
    }
}

.product-tabs__question {
    font-family: 'Exo 2.0', sans-serif;
    text-decoration: none; // old underline
    font-size: 19.44px;
    color: #269ea9;
    display: inline-block;
    line-height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    &:hover {
        color: #d88946;
    }
    @media (max-width: @breakpoint-medium-max) {
        line-height: 40px;
    }
    @media (max-width: @breakpoint-small-max) {
        display: none;
    }
}

.product-tabs__tab  {
    font-family: 'Exo 2.0', sans-serif;
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
    font-size: 18.89px;
    color: #000000;
    padding: 0 16px;
    min-width: 146px;
    text-align: center;
    line-height: 50px;
    border-radius: 1px;
    display: inline-block;
    text-transform: none;
    cursor: pointer;
    @media (max-width: @breakpoint-medium-max) {
        min-width: initial;
        line-height: 40px;
        padding: 0 8px;
        font-size: 16px;
    }
    &.uk-active {
        background-color: #ffffff;
        color: #d88946;
        border-color: #d88946 #d88946 #ffffff;
    }
}

.product-tabs__panel {
    font-size: 19.44px;
    color: #777777;
    padding: 0 22px 22px;
    //&_additional_information,
    //&_description {
    //    font-size: 19.44px;
    //    color: #777777;
    //    padding: 0 22px 22px;
    //}
}

.product-accordion__title {
    padding: 4px 25px;
    background-color: #e1e1e1;
    font-size: 14px;
    color: #252525;
    position: relative;
    &::after {
        background: none;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%) rotate(45deg);
        width: 6px;
        height: 6px;
        border-right: 3px solid #545454;
        border-bottom: 3px solid #545454;
    }
    .uk-open > &:after {
        top: calc(50% + 4px);
        transform: translateY(-50%) rotate(-135deg);
    }
}

.product-accordion__content {
    font-size: 14px;
    line-height: 1.25;
    padding: 0 20px 10px;
}

.product-crosssell {
    margin: 0 -22px 23px;
    @media (max-width: @breakpoint-xsmall-max) {
        margin-left: 0;
        margin-right: 0;
    }
}

.product-crosssell__title {
    font-family: 'Exo 2.0', sans-serif;
    font-size: 19px;
    text-decoration: none; // old underline
    color: #000000;
    margin-bottom: 22px;
    @media (max-width: @breakpoint-xsmall-max) {
        display: none;
    }
}

.product-crosssell__all {
    font-family: 'Exo 2.0', sans-serif;
    font-size: 19px;
    text-decoration: none; // old underline
    color: #e78543;
    cursor: pointer;
    padding: 0;
    background: transparent;
    border: none;
    &:after {
        content: '';
        display: inline-block;
        margin-left: 15px;
        vertical-align: middle;
        position: relative;
        top: -1px;
        border-right: 4px solid currentColor;
        border-bottom: 4px solid currentColor;
        transform: rotate(45deg);
        width: 8px;
        height: 8px;
    }
    &:hover {
        color: #269ea9;
    }
}

.product-crosssell__products {
    margin: 0 50px;
    .product {
        font-size: 75%;
    }
    @media (max-width: @breakpoint-small-max) {
        margin: 0;
    }
}

.container-product {
    max-width: 1355px;
}

.product-backward {
    text-align: right;
    a {
        font-family: 'Exo 2.0', sans-serif;
        font-size: 22.22px;
        color: #000000;
        text-decoration: none; // old underline
        &:hover {
            color: #d88946;
        }
    }
    @media (max-width: @breakpoint-xsmall-max) {
        display: none;
    }
}

.product-content {
    @media (max-width: @breakpoint-xsmall-max) {
        display: none;
    }
}

.category-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 42px 0 33px;
}

.category-heading__breadcrumb {

}

.category-heading__ordering {

}

.woocommerce-ordering {
    display: flex;
}

.woocommerce-ordering__label {
    font-size: 16.67px;
    color: #000000;
    border: 1px solid #cccccc;
    border-right: 0;
    border-radius: 4px 0 0 4px;
    background-color: #eeeeee;
    line-height: 34px;
    padding: 0 12px;
    min-width: 96px;
}

.woocommerce-ordering__select {
    border: 1px solid #cccccc;
    border-radius: 0 4px 4px 0;
    padding: 0 12px;
    line-height: 34px;
    font-size: 16.67px;
    color: #000000;
    @media (max-width: @breakpoint-xsmall-max) {
        max-width: 178px;
    }
}

.woocommerce-pagination {
    border-top: 1px solid #b8b8b8;
    padding: 10px 0;
    ul {
        padding: 0;
        margin: 0;
        text-align: center;
        font-size: 24px;
        color: #a7a7a7;
        display: flex;
        justify-content: center;
    }
    li {
        list-style: none;
        display: inline-block;
        margin: 0 10px;
    }
    a {
        color: #a7a7a7;
        text-decoration: none;
    }
    span {
        &.current {
            color: #cf5c36;
        }
    }
}

.pagination {
    text-align: center;
    font-size: 24px;
    color: #a7a7a7;
    border-top: 1px solid #b8b8b8;
    padding: 10px 0;
    margin-top: 30px;
    a {
        color: #a7a7a7;
        text-decoration: none;
        margin: 0 10px;
    }
    span {
        color: #cf5c36;
        margin: 0 10px;
    }
}

.shop-filters {
  padding-top: 119px;
  .irs-slider {
    border-radius: 5px;
    background: #f6f6f6;
  }
  .irs-bar {
    background: #3388cc;
  }
  .irs-line {
    background: #e8e8e8;
    border-radius: 4px;
  }
  .irs-from {
    &:before {
      content: 'от ';
    }
  }
  .irs-to {
    &:before {
      content: 'до ';
    }
  }
}

.shop-filter {
  &:nth-child(n+2) {
    margin-top: 28px;
  }
}

.shop-filter__title {
    font-weight: bold;
    color: #828282;
    font-size: 24px;
    border-bottom: 1px solid #000000;
    position: relative;
    cursor: pointer;
    &::after {
        background: none;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%) rotate(45deg);
        width: 6px;
        height: 6px;
        border-right: 3px solid #000000;
        border-bottom: 3px solid #000000;
        transition: ease .3s;
        transition-property: transform, top;
    }
    .uk-open > &:after {
        top: calc(50% + 4px);
        transform: translateY(-50%) rotate(-135deg);
    }
}

.shop-filter__body {
  padding: 0 32px;
}

.wcapf-list {
  list-style: none;
  margin: 0 0 30px;
  padding: 0;
}

.wcapf-list-item {
    &:nth-child(n+2) {
        margin-top: 30px;
    }
    &_color {
        display: inline-block;
        margin: 3px;
        &:nth-child(n+2) {
            margin-top: 3px;
        }
    }
}

.wcapf-list-item__link {
    font-size: 19.44px;
    color: #828282;
    text-decoration: none;
    display: flex;
    line-height: 40px;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    &:hover {
        color: #828282;
        text-decoration: none;
    }
}

.wcapf-list-item__check {
    float: right;
    width: 30px;
    height: 30px;
    margin: 5px 0;
    background-color: #eeeeee;
    position: relative;
    .wcapf-list-item_chosen > .wcapf-list-item__link > & {
        background-color: #2196f3;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
            width: 8px;
            height: 4px;
            border-left: 3px solid #fff;
            border-bottom: 3px solid #fff;
        }
    }
    @media (max-width: @breakpoint-xsmall-max) {
        order: 1;
    }
}

.wcapf-list-item__count {
  color: #000000;
}

.wcapf-list-item__title {
  @media (max-width: @breakpoint-xsmall-max) {
    order: 0;
    width: 100%;
  }
}

.wcapf-list-item__image {
    width: 260px;
    display: block;
    margin-left: 20px;
    @media (max-width: @breakpoint-xsmall-max) {
        order: 2;
        width: 180px;
    }
}

.wcapf-list-item__color {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.4);
    .wcapf-list-item_chosen > & {
        box-shadow: 0 0 0 2px #48a1a9;
    }
}

.page-breadcrumb {
    margin: 40px 0;
}

.cart-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 105px;
    margin-bottom: 60px;
    th {
        padding: 10px;
        text-align: left;
        font-weight: normal;
        color: #a3a1a2;
        font-size: 16px;
        border-top: 1px solid #dee0e0;
        border-bottom: 1px solid #dee0e0;
    }
    td {
        padding: 10px;
        border-top: 1px solid #dee0e0;
        border-bottom: 1px solid #dee0e0;
    }
    .variation {
        margin: 0;
        padding: 0;
        font-size: 16px;
        max-width: 600px;
        dt {
            font-weight: normal;
            float: left;
            clear: left;
            margin-right: 5px;
        }
        dd {
            float: left;
            p {
                padding: 0;
                margin: 0;
                display: inline;
            }
        }
    }
}

@media (max-width: @breakpoint-xsmall-max) {
    .cart-table {
        display: block;
        border-bottom: 1px solid #dee0e0;
        thead,
        th {
            display: none;
        }
        tbody,
        tr,
        td {
            display: block;
        }
        tr {
            border-top: 1px solid #dee0e0;
            position: relative;
            padding: 20px 0;
        }
        td {
            position: relative;
            padding-left: 120px;
            border: 0;
            &:before {
                content: attr(data-title);
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                font-size: 18px;
            }
            &.cart-table__name {
                padding: 0;
                &:before {
                    display: none;
                }
            }
            &.cart-table__remove {
                width: initial;
                position: absolute;
                top: 0;
                right: 0;
                padding: 0;
            }
            &.cart-table__quantity {
                display: flex;
                justify-content: flex-end;
            }
            &.cart-table__price {
                text-align: right;
            }
        }
    }
}

.cart-table__name {

}

.cart-table__quantity {

}

.cart-table__price {

}

.cart-table__remove {
    width: 30px;
}

.cart-item__product {
    display: flex;
    align-items: center;
}

.cart-item__info {

}

.cart-item__thumbnail {
    width: 80px;
    margin-right: 20px;
}

.cart-item__name {
    font-size: 20px;
    a {
        color: #4666b9;
        text-decoration: none; // old underline
        &:hover {
            color: red;
            text-decoration: none; // old underline
        }
    }
}

.cart-item__dimensions {
    color: gray;
    font-size: 16px;
}

.cart-item__quantity {
    width: 70px;
    input {
        width: 50px;
    }
}

.woocommerce-cart-form {
    position: relative;
}

.woocommerce-cart-form__preloader {
    background: rgba(255,255,255,.6);
    display: none;
    .woocommerce-cart-form.loading & {
        display: block;
    }
}

.woocommerce-cart-form__remove {
  border: none;
  background: transparent;
  padding: 0;
  display: inline-block;
  font-size: 32px;
  font-weight: bold;
  color: #a3a3a3;
  cursor: pointer;
  font-family: inherit;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  vertical-align: middle;
  transition: transform ease .3s;
  &:hover {
    color: #000000;
    text-decoration: none;
    transform: scale(1.2);
  }
}

.cart-accordion {
  > :nth-child(n+2) {
    margin-top: 9px;
  }
}

.cart-accordion__title {
  font-size: 25px;
  border-bottom: 1px solid #000000;
  padding: 4px 0;
  &:after {
    display: none;
  }
}

.cart-accordion__content {
  margin: 0;
}

.input-qty {
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 0 10px;
    line-height: 32px;
    min-height: 32px;
}

.cart-item__price {
    font-size: 16px;
}

.cart-item__old-price {
    font-size: 16px;
    color: gray;
    text-decoration: line-through;
}

.cart-totals-table {
    border-collapse: collapse;
    width: 100%;
}

.cart_totals {
    th {
        padding: 0 10px;
        width: 100%;
        font-size: 19.44px;
        color: #6a6a6a;
        text-align: right;
        font-weight: normal;
    }
    td {
        padding: 0 10px;
        font-size: 22.22px;
        color: #000000;
        white-space: nowrap;
        text-align: right;
        strong {
            font-weight: normal;
        }
    }
}

.wc-proceed-to-checkout {
    text-align: right;
    margin: 30px 0;
    @media (max-width: @breakpoint-xsmall-max) {
        text-align: left;
    }
}

.checkout-button {
  font-size: 19.44px;
  color: #000000;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  padding: 0 20px;
  line-height: 32px;
  border: 1px solid #cbcbcb;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: inherit;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    text-decoration: none;
    color: #000000;
    border-color: #cbcbcb;
    background-color: #f5f5f5;
  }
  &_success {
    background-color: #19b524;
    border-color: #19b524;
    color: #ffffff;
    &:hover {
      background-color: #2cc537;
      border-color: #19b524;
      color: #ffffff;
    }
  }
}

.order {

}

.order__title {
  font-size: 19.44px;
  font-weight: bold;
  margin-left: 27px;
  margin-bottom: 22px;
  margin-top: 20px;
}

.form-row {
    margin: 13px 0;
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.woocommerce-billing-fields__field-wrapper {
    .woocommerce-input-wrapper {
        display: flex;
        max-width: 330px;
    }
    .form-row {
        &.validate-required {
            .woocommerce-input-wrapper {
                &::after {
                    content: '*';
                    color: #ff0000;
                    display: inline-block;
                    margin-left: 5px;
                }
            }
        }
    }
}

#billing_country_field {
    display: none;
}

.required {
    color: #ff0000;
}

.input-text {
  border: 1px solid #e8e8e8;
  padding: 0 12px;
  line-height: 32px;
  font-family: inherit;
  font-size: 16px;
  color: #757575;
  width: 100%;
  box-sizing: border-box;
}

//.woocommerce-input-wrapper {
//  display: block;
//  select {
//    border: 1px solid #e8e8e8;
//    font-family: inherit;
//    font-size: 16px;
//    color: #757575;
//    padding: 4px 12px;
//    width: 100%;
//    box-sizing: border-box;
//  }
//}

.woocommerce-checkout {
  margin-top: 14px;
  max-width: 1064px;
}

.wc_payment_methods {
  margin: 0;
  padding: 0;
}

.wc_payment_method {
  list-style: none;
  color: #737373;
  font-size: 19.44px;
  margin: 12px 0;
}

// .input-radio {
//   display: inline-block;
//   vertical-align: middle;
//   margin-right: 8px;
//   input {
//     display: none;
//   }
//   input + span {
//     display: block;
//     width: 12px;
//     height: 12px;
//     border: 6px solid #eeeeee;
//     background-color: #eeeeee;
//     border-radius: 50%;
//   }
//   input:checked + span {
//     border-color: #48a1a9;
//     background-color: #ffffff;
//   }
// }

.input-radio {
    display: none;
    & + span,
    & + label {
        display: block;
        position: relative;
        font-size: 19.44px;
        color: #737373;
        &::before {
            content: '';
            display: inline-block;
            width: 12px;
            height: 12px;
            border: 6px solid #eeeeee;
            background-color: #eeeeee;
            border-radius: 50%;
            vertical-align: middle;
            margin-right: 10px;
            position: relative;
            top: -2px;
        }
        span {
            font-size: 16.67px;
        }
    }
    &:checked + span,
    &:checked + label {
        &::before {
            border-color: #48a1a9;
            background-color: #ffffff;
        }
    }
}

.form-fields-radio {
    label {
        margin: 12px 0;
    }
}

.wc_payment_method__icon {
  display: none;
}

.wc_payment_method__desc {
  display: none;
}

//.woocommerce-error {
//    padding: 0;
//    margin: 0;
//    li {
//        list-style: none;
//        position: relative;
//        padding: 15px;
//        margin: 20px 0;
//        background: #fef4f6;
//        color: #f0506e;
//    }
//}

.place-order {
    margin: 30px 0;
}

.order-actions {
    margin: 35px 0;
}

.checkout-success {
    padding: 0 5px;
    margin: 26px 0;
}

.checkout-success__title {
    color: #19b524;
    font-size: 25px;
    margin-bottom: 18px;
}

.checkout-success__text {
    font-size: 20.83px;
    color: #6d6d6d;
    margin-bottom: 27px;
    p {
        margin: 0 0 20px 0;
        * + & {
            margin-top: 20px;
        }
    }
}

.checkout-success__home {
    font-size: 22.18px;
    color: #000000;
    text-decoration: none; // old underline
    &:hover {
        text-decoration: none;
    }
}

.library {
    margin: 35px 0;
}

.library__sidebar {
    border-right: 1px solid #525252;
    @media (max-width: @breakpoint-xsmall-max) {
        border-right: 0;
        border-bottom: 1px solid #525252;
    }
}

.library__title {
    font-size: 22.22px;
    color: #4a6063;
    font-weight: 500;
    margin: 0;
    @media (max-width: @breakpoint-xsmall-max) {
        font-size: 20px;
    }
}

.library__date {
    font-size: 19.44px;
    color: #495f61;
    span {
        color: #000000;
    }
    @media (max-width: @breakpoint-xsmall-max) {
        margin-top: 15px;
        width: 100%;
        font-size: 16px;
    }
}

.library__headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  @media (max-width: @breakpoint-xsmall-max) {
      flex-wrap: wrap;
  }
}

.library__content {
    max-width: 1072px;
    text-align: justify;
    @media (max-width: @breakpoint-xsmall-max) {
        font-size: 16px;
        text-align: left;
    }
}

.library-sidebar {

}

.library-sidebar__title {
    font-size: 22.22px;
    color: #000000;
    margin-bottom: 25px;
    font-weight: 300;
    line-height: 1;
}

.library-sidebar__menu {
    padding: 0;
    margin: 0;
    line-height: 1;
    > li {
        list-style: none;
        margin: 25px 0;
        &.current-menu-item > a {
            color: #dd7142;
        }
        > a {
            color: #000000;
            font-size: 19.44px;
            text-decoration: none;
            &:hover {
                color: #dd7142;
            }
        }
        > ul {
            margin: 27px 0;
            padding: 0 0 0 35px;
            > li {
                list-style: none;
                margin: 4px 0;
                &.current-menu-item > a {
                    color: #dd7142;
                }
                > a {
                    color: #656565;
                    font-size: 19.44px;
                    text-decoration: none; // old underline
                    &:hover {
                        color: #dd7142;
                    }
                }
            }
        }
    }
}

.library__breadcrumb {
    margin: 0 0 44px;
    line-height: 1;
    @media (max-width: @breakpoint-xsmall-max) {
        display: none;
    }
}

.modal-form {
    @media (min-width: @breakpoint-small) {
        padding-bottom: 50px;
        border-bottom: 1px solid #e5e5e5;
        margin-bottom: 36px;
        padding-top: 35px;
    }
}

.modal-form__text {
    font-size: 16px;
    color: gray;
    line-height: 1.25;
    p {
        margin: 0 0 17px 0;
    }
    * + p {
        margin-top: 17px;
    }
}

.modal-form__title {
    font-size: 22px;
    color: #000000;
    margin: 10px 0;
}

.modal-form__actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.modal-form__submit {
    text-transform: uppercase;
    font-size: 16px;
    color: #ffffff;
    font-family: inherit;
    padding: 0 20px;
    line-height: 43px;
    display: inline-block;
    border: 1px solid #fa6b00;
    border-radius: 2px;
    background-color: #fa6b00;
    order: 1;
    &:hover {
        border: 1px solid #e06000;
        background-color: #e06000;
    }
    @media (max-width: @breakpoint-xsmall-max) {
        margin-left: 10px;
        padding: 0 10px;
        line-height: 30px;
    }
}

.modal-form__reset {
    text-transform: uppercase;
    font-size: 16px;
    color: #fa6b00;
    font-family: inherit;
    padding: 0 20px;
    line-height: 43px;
    display: inline-block;
    border: 1px solid #fa6b00;
    border-radius: 2px;
    background-color: #ffffff;
    order: 2;
    margin-left: 20px;
    &:hover {
        color: #ffffff;
        background-color: #fa6b00;
    }
    @media (max-width: @breakpoint-xsmall-max) {
        margin-left: 10px;
        line-height: 30px;
    }
}

.wpcf7-acceptance {
    display: block;
    margin: 30px 0 37px;
    .wpcf7-list-item {
        margin: 0;
        font-size: 16px;
        color: gray;
        a {
            color: #fa6b00;
            text-decoration: none;
            &:hover {
                text-decoration: none; // old underline
            }
        }
    }
}

.modal-form__column-message {
    @media (max-width: @breakpoint-xsmall-max) {
        order: 1;
    }
}

.wpcf7 {
    position: relative;
    &_success {
        .modal-form__success {
            display: flex;
        }
    }
}

.modal-form__success {
    display: none;
    position: absolute;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 0;
    border: 0;
    text-align: center;
    font-size: 22.22px;
    color: #6a6a6a;
    line-height: 2;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
    padding: 1em 2em;
    margin: 0 0 2em;
    position: relative;
    background-color: #f7f6f7;
    color: #515151;
    border-top: 3px solid #a46497;
    border-top-color: rgb(164, 100, 151);
    list-style: none outside;
    width: auto;
    word-wrap: break-word;

    .button {
        float: right;
    }

    li {
        list-style: none outside !important; // Required for default theme compatibility
        padding-left: 0 !important; // Required for default theme compatibility
        margin-left: 0 !important; // Required for default theme compatibility
    }
}

.woocommerce-message {
    border-top-color: #8fae1b;
}

.woocommerce-info {
    border-top-color: #1e85be;
}

.woocommerce-error {
    border-top-color: #b81c23;
}